<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="consoleAppender" />
	</root>

	<logger name="org.hibernate.SQL" level="WARN" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.hibernate.type" level="WARN" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.springframework.test" level="WARN" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="org.springframework.mock" level="WARN" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

	<logger name="com.wtl.wawork" level="DEBUG" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

</configuration>