@import "base";

.highlight {
  color: @highlight-color;
}
.date {
  text-align: center;
  white-space: nowrap;
}
.employmentType {
  text-align: right;
}
.jurisdiction {
  color: @subhead-color;
}
table {
  background-color: @table-background-color;
  width: 100%;
}
body {
  line-height: 1.6;
  background-color: @background-color;
  font-family:'Questrial', sans-serif;
}
a {
  color: @link-color;
}
.header {
  max-width: 768px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}
.header h1 {
  font-size: 300%;
  font-weight: 100;
  margin: 0;
  font-size: 350%;
}
.header h2 {
  font-size: 150%;
  font-weight: 100;
  line-height: 1.5;
  margin: 0;
  color: #666;
}
.l-wrap, .l-wrap .content {
  padding-left: 1em;
  padding-right: 1em;
}
.content {
  margin: 3.5em 0;
}
.content .l-wrap {
  margin-left: -2em;
  margin-right: -2em;
}
.header, .content {
  padding-left: 2em;
  padding-right: 2em;
}
.content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 768px;
}
.content .content-subhead {
  margin: 2em 0 1em 0;
  font-weight: 300;
  color: @subhead-color;
  position: relative;
}
.content .content-spaced {
  line-height: 1.8;
}
.content p {
  font-size: 1.125em;
}
